<div class="modal">
  <div class="list">
    <div class="item item-divider">
      Article Details
    </div>
    <div class="item item-icon-left">
      <i class="icon ion-arrow-graph-up-right"></i>
      Rank {{ rank }}
    </div>
    <a class="item item-icon-left" on-tap="openLink($index, 'comments')">
      <i class="icon ion-chatbubble-working"></i>
      Comments Link
    </a>
    <div class="item item-icon-left">
      <i class="icon ion-stats-bars"></i>
      {{ points }} Points
    </div>
    <div class="item item-icon-left">
      <i class="icon ion-clock"></i>
      Posted {{ time }}
    </div>
  </div>
  <button class="button button-assertive" on-tap="closeModal()">Close</button>
</div>