<div class="modal">
  <div class="list">
    <div class="item item-divider">
      Article Details
    </div>
    <div class="item item-icon-left">
      <i class="icon ion-arrow-graph-up-right"></i>
      Rank {{ rank }}
    </div>
    <a class="item item-icon-left" on-tap="openLink($index, 'comments')">
      <i class="icon ion-chatbubble-working"></i>
      Comments Link
    </a>
    <div class="item item-icon-left">
      <i class="icon ion-stats-bars"></i>
      {{ points }} Points
    </div>
    <div class="item item-icon-left">
      <i class="icon ion-clock"></i>
      Posted {{ time }}
    </div>
    <div class="item item-divider">
      User Details
    </div>
    <div class="item item-icon-left">
      <i class="icon ion-person-stalker"></i>
      {{ user }}
    </div>
    <div class="item item-icon-left">
      <a on-tap="openLink($index, 'user')" class="icon ion-more"> </a>
      User Profile
    </div>
    <div class="item item-divider" on-tap="closeModal()">
      <a class="go-back"> Go Back </a>
    </div>
  </div>
</div>








