/*@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed);*/
/*@import url(http://fonts.googleapis.com/css?family=Philosopher:700italic);*/

/** { font-family: 'Philosopher', sans-serif;}*/

body { background:#222;
 }

ion-content {
  padding-top: 65px;
  background-color: #ecf0f1
}

.item-input-inset {
  padding: 30px, 30px;
}

home-tab {
  background-color: #ecf0f1;
}
.search-input {
  display:block;
  width:18rem;
  margin:4.5rem 1rem 2rem;
  border:0;
  font-size:1.2rem;
  padding:.75rem 1rem;
  border-radius:3px;
  box-shadow:0 1px 2px #aaa;
  transition:.5s, margin-bottom .15s;
}

.card {
  font-family: 'Philosopher', sans-serif;
  padding:1.5rem;
  box-shadow:0px 2px 5px grey;
  background:white;
  margin:0 1rem 1rem;
  border-radius:3px;
  user-select:none;
  animation:fly-in-from-left .5s 1s ease both;
  transform-origin:top left;
}

h1 {
  font-size:2rem;
  font-weight:200;
}
  strong {
    font-weight:300;
    color:#539D00;
  }

h2 {
  font-size:1.0rem;
  text-align: center;
  font-family: 'HelveticaNeue-UltraLight', sans-serif;
  line-height:2.5;
  color:#2c3e50;
  font-weight:600;
  text-decoration: underline;

  /*text-shadow: 0px 1px 1px #4d4d4d;
  color: black;
  font: 20px 'LeagueGothicRegular';*/
}
p {
  color: grey;
}

.bar-header {
  height: 64px !important;
}
.bar-header > * {
  margin-top: 20px !important;
}

.scroll-content{
  top:0 !important
}

.go-back {
  color: blue;
}
.ion-more {
  color: blue;
}

.ion-chatbubble-working {
  color: blue;
}
